.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login{
  width: 500px;
height:700px;
margin-left: 400px;
}
.reginfo{
margin-top: 40px;
  width: 500px;
height:900px;
margin-left: 400px;

}
.forgetinfo
{
  width: 500px;
height:300px;
margin-left: 400px;
}
.tool
{

  background-color: aqua;
}
.head{
margin-left: 550px;
}
.register
{
  margin-left: 50px;
}
.help
{
  display: flex;
  flex-direction: column;
  /* padding-bottom: 40px; */
  align-content: center;
  padding:0px 40px 40px 40px;
  justify-content: space-between;
  align-content: space-around;
  margin-top: 10px;
  align-self: auto;

}
.text{
  display: flex;
  align-items: center;
  align-content: space-between;
  text-align-last: left;
  flex-direction:column;
  align-self: baseline;
  padding: 10px;
  margin-inline-end: 40px;
}
.temp{
  display: flex;
}
#child{
  display: flex;
  padding: 10px;;
  align-content: space-around
  
}
.search
{
  display: flex;
  margin-left: 5px;
  inline-size: 100px;

  
}
.header{

  display: flex;
  align-self: auto;
align-content: space-around;
align-items: initial;
flex-wrap: wrap;
flex-shrink: unset;
flex-grow: unset;
flex-flow: row;
flex:1;


}
.refresh
{
  display: flex;
  align-content: flex-end;
align-content: space-around;
align-self: auto;

  margin-left: 600px;
}
.fab {
  margin:theme
}
.setting
{
  margin-left: 10px;
  margin-right: 10px;

}
.text{
  margin-left: 10px;
}
.account{
  margin-right: 100px;
}
.fab{
  background-color:white;
}
.dash{
  display:flex;
  align-content: space-around;
  align-self:flex-start;
  justify-content: inherit;
  
}
.listview{
  display: flex;
  flex-grow: inherit;
  flex-shrink: inherit;
}
.fun
{
  text-decoration-color: cyan
}
.list
{
  width: 250px;
  margin-top: 64px;

}

.label{
  margin-left: 30px;
}
.listitem{
  margin-top: 10px;
}
.divide{
  margin-left: px;
  padding-top: 30px;
}
.sea{
margin-left: 50px;
display: flex;
border-width: thin;
border-color: rgba(202, 202, 192, 0.561);
border-style: outset;border-radius: 7px;
align-self: auto;
align-content: space-around;
inline-size: 500px;

}
.icon{
  margin-top: 10px;
}
.drawer
{
padding-top: 64px;

}

.MuiDrawer-paperAnchorLeft-113 {
    left: 0;
    right: auto;
    top: 56px;
}